In [254]:
from bs4 import BeautifulSoup
import pandas as pd
import requests
import json
import time 
from datetime import date
import csv
import numpy as np

## Caveat
The data extracted from the RMS website is unverified.

Verified data is published monthly and available as a PDF. However, the most recent verified data report is dated April 2017.

In [255]:
# Today's date. 
# Assume date is always DD/MM/YY format.
# Code hasn't been tested against D/M/YY date format. 

date_today = pd.datetime.today().date()
date_today = date_today.strftime('%d/%m/%y')
print('Today\'s date is', date_today)

Today's date is 24/06/18

In [256]:
# Keep for testing
#date_today = '20/06/18'

In [257]:
# M5 East data feeds
# Past 24h - scrape from web page
data_24h = 'http://www.rms.nsw.gov.au/projects/sydney-south/m5-east/autoupdate/m5eastcurrentairqualitydata/past24hours.html'
# Past 4 weeks - CSV file
data_4w = 'http://www.rms.nsw.gov.au/projects/sydney-south/m5-east/autoupdate/m5eastcurrentairqualitydata/m5eastair.csv'

## Clean the 24 hour data

In [258]:
# Collect the data tables
r = requests.get(data_24h)
soup = BeautifulSoup(r.content, "lxml")
soup = soup.find_all('div', class_='pane-right')
table = soup[0].find_all('table')

In [259]:
# Transform table into a data frame
df = pd.read_html(str(table))

In [260]:
#Add station IDs. Note: tables are repeated three times. (See note below.)
df[0].insert(0, 'Station', 'X1')
df[3].insert(0, 'Station', 'U1')
df[6].insert(0, 'Station', 'T1')
df[9].insert(0, 'Station', 'CBMS')

In [261]:
# HTML tables are repeated three times. 
# They seem to be repeated and structured differently for mobile devices, etc.
# Create a new list without repeated tables.
df_remove_dups = [] 
df_remove_dups.append(df[0])
df_remove_dups.append(df[3])
df_remove_dups.append(df[6])
df_remove_dups.append(df[9])
df = pd.concat(df_remove_dups)

In [262]:
# Add column names
df.columns = ['Station', 'Date', 'Time', 'CO_ppm', 'NO2', 'PM10', 'wind_dir', 'wind_speed', 'PM10_daily']

In [263]:
# Remove yesterday's data as it is also included in the 4 week data.
# Last entry is recorded at 11pm the previous day.
df_remove_yesterday = df[df['Date'] == date_today]
df = df_remove_yesterday

In [264]:
# Tidy the time range to start hour.
# Create temporary column then drop it
df['Time'], df['temp_hour_end'] = df['Time'].str.split(' - ', 1).str
df.drop('temp_hour_end', axis=1, inplace=True)

## Clean the 4-week data

In [265]:
# Import the data
df_4week = pd.read_csv(data_4w)
df_4week.columns = ['Station', 'Date', 'Time', 'CO_ppm', 'NO2', 'PM10', 'wind_dir', 'wind_speed', 'PM10_daily']

## Combine the dataframes

In [266]:
# Combine today's data with teh previosu four weeks' data.
df_combined = []
df_combined.append(df)
df_combined.append(df_4week)
df = pd.concat(df_combined)

In [267]:
# Temporary calculation to create timestamp
df.insert(1, 'Timestamp', '')
df['temp_date_with_time'] = df['Date'] + ' ' + df['Time']
df['Timestamp'] = pd.to_datetime(df['temp_date_with_time'], format='%d/%m/%y %I%p')
df.drop('temp_date_with_time', axis=1, inplace=True)
df.drop('Date', axis=1, inplace=True)
df.drop('Time', axis=1, inplace=True)
df.reset_index(drop=True)

,Station,Timestamp,CO_ppm,NO2,PM10,wind_dir,wind_speed,PM10_daily
0,X1,2018-06-24 00:00:00,0.24,6.2,10.1,SW,11.0,NaN
1,X1,2018-06-24 01:00:00,0.20,12.3,8.8,W,7.0,NaN
2,X1,2018-06-24 02:00:00,0.16,28.8,8.0,WNW,12.0,NaN
3,X1,2018-06-24 03:00:00,0.15,24.6,7.1,WNW,8.0,NaN
4,X1,2018-06-24 04:00:00,0.14,30.8,5.8,NW,8.0,NaN
5,X1,2018-06-24 05:00:00,0.13,43.1,7.2,NW,7.0,NaN
6,X1,2018-06-24 06:00:00,0.14,41.1,8.1,NW,7.0,NaN
7,X1,2018-06-24 07:00:00,0.18,37.0,6.1,NW,9.0,NaN
8,X1,2018-06-24 08:00:00,0.19,26.7,4.6,WNW,7.0,NaN
9,X1,2018-06-24 09:00:00,0.20,22.6,8.1,WNW,6.0,NaN
10,X1,2018-06-24 10:00:00,0.22,24.6,13.3,WNW,5.0,NaN
11,X1,2018-06-24 11:00:00,0.22,16.4,13.2,SW,5.0,NaN
12,X1,2018-06-24 12:00:00,0.21,4.1,12.8,SSW,6.0,NaN
13,X1,2018-06-24 13:00:00,0.20,4.1,13.3,S,6.0,NaN
14,X1,2018-06-24 14:00:00,0.19,4.1,12.2,S,6.0,NaN
15,X1,2018-06-24 15:00:00,0.17,6.2,10.4,S,7.0,NaN
16,X1,2018-06-24 16:00:00,0.15,8.2,7.9,S,6.0,NaN
17,X1,2018-06-24 17:00:00,0.15,12.3,5.5,S,5.0,NaN
18,X1,2018-06-24 18:00:00,0.14,16.4,4.3,S,5.0,NaN
19,X1,2018-06-24 19:00:00,0.14,18.5,5.4,S,5.0,NaN
20,X1,2018-06-24 20:00:00,0.16,14.4,8.6,SSW,3.0,NaN
21,X1,2018-06-24 21:00:00,0.18,39.0,9.1,W,2.0,NaN
22,X1,2018-06-24 22:00:00,0.21,57.5,9.7,WNW,4.0,NaN
23,X1,2018-06-24 23:00:00,NaN,NaN,NaN,NaN,NaN,NaN
24,U1,2018-06-24 00:00:00,0.28,6.2,3.9,WSW,15.0,NaN
25,U1,2018-06-24 01:00:00,0.24,22.6,5.0,W,11.0,NaN
26,U1,2018-06-24 02:00:00,0.20,22.6,6.9,WNW,10.0,NaN
27,U1,2018-06-24 03:00:00,0.18,24.6,4.4,W,9.0,NaN
28,U1,2018-06-24 04:00:00,0.17,32.9,7.2,NW,7.0,NaN
29,U1,2018-06-24 05:00:00,0.16,45.2,9.1,NW,8.0,NaN
...,...,...,...,...,...,...,...,...
2754,CBMS,2018-06-22 18:00:00,0.32,67.8,20.9,N,6.0,20.0
2755,CBMS,2018-06-22 19:00:00,0.34,67.8,20.1,NNW,5.0,20.0
2756,CBMS,2018-06-22 20:00:00,0.35,59.6,20.7,NNW,5.0,20.0
2757,CBMS,2018-06-22 21:00:00,0.40,61.6,17.4,NW,6.0,20.0
2758,CBMS,2018-06-22 22:00:00,0.43,53.4,20.6,NW,6.0,20.0
2759,CBMS,2018-06-22 23:00:00,0.48,55.5,17.0,WNW,5.0,20.0
2760,CBMS,2018-06-23 00:00:00,0.61,59.6,28.0,W,8.0,14.0
2761,CBMS,2018-06-23 01:00:00,0.66,45.2,27.9,WNW,7.0,14.0
2762,CBMS,2018-06-23 02:00:00,0.73,45.2,27.2,WNW,9.0,14.0
2763,CBMS,2018-06-23 03:00:00,0.76,43.1,28.3,W,11.0,14.0
2764,CBMS,2018-06-23 04:00:00,0.75,39.0,19.0,W,11.0,14.0
2765,CBMS,2018-06-23 05:00:00,0.73,41.1,8.1,W,11.0,14.0
2766,CBMS,2018-06-23 06:00:00,0.71,41.1,9.7,W,12.0,14.0
2767,CBMS,2018-06-23 07:00:00,0.68,43.1,16.3,WNW,12.0,14.0
2768,CBMS,2018-06-23 08:00:00,0.56,37.0,8.6,WNW,12.0,14.0
2769,CBMS,2018-06-23 09:00:00,0.51,24.6,14.4,W,12.0,14.0
2770,CBMS,2018-06-23 10:00:00,0.43,26.7,7.9,W,11.0,14.0
2771,CBMS,2018-06-23 11:00:00,0.39,30.8,7.2,W,9.0,14.0
2772,CBMS,2018-06-23 12:00:00,0.38,28.8,9.2,NW,8.0,14.0
2773,CBMS,2018-06-23 13:00:00,0.37,24.6,11.0,NW,6.0,14.0
2774,CBMS,2018-06-23 14:00:00,0.35,26.7,10.8,NNW,5.0,14.0
2775,CBMS,2018-06-23 15:00:00,0.33,24.6,8.8,NW,5.0,14.0
2776,CBMS,2018-06-23 16:00:00,0.31,41.1,6.7,NW,7.0,14.0
2777,CBMS,2018-06-23 17:00:00,0.34,71.9,5.0,S,5.0,14.0
2778,CBMS,2018-06-23 18:00:00,0.35,57.5,16.3,S,9.0,14.0
2779,CBMS,2018-06-23 19:00:00,0.35,32.9,18.3,S,10.0,14.0
2780,CBMS,2018-06-23 20:00:00,0.34,20.5,11.2,S,10.0,14.0
2781,CBMS,2018-06-23 21:00:00,0.35,20.5,13.2,S,11.0,14.0
2782,CBMS,2018-06-23 22:00:00,0.35,18.5,14.3,S,12.0,14.0
2783,CBMS,2018-06-23 23:00:00,0.34,14.4,5.8,SSW,14.0,14.0

In [268]:
# Add extra columns to pre for Lane Cove table merge
df.insert(2, 'CO_3min', '')
df.insert(3, 'CO_15min', '')
df.insert(4, 'CO_30min', '')
df.head(5)

,Station,Timestamp,CO_3min,CO_15min,CO_30min,CO_ppm,NO2,PM10,wind_dir,wind_speed,PM10_daily
1,X1,2018-06-24 00:00:00,,,,0.24,6.2,10.1,SW,11.0,NaN
2,X1,2018-06-24 01:00:00,,,,0.20,12.3,8.8,W,7.0,NaN
3,X1,2018-06-24 02:00:00,,,,0.16,28.8,8.0,WNW,12.0,NaN
4,X1,2018-06-24 03:00:00,,,,0.15,24.6,7.1,WNW,8.0,NaN
5,X1,2018-06-24 04:00:00,,,,0.14,30.8,5.8,NW,8.0,NaN

## Calculate the M5 East AQI
Guide to calculating the AQI:
http://www.environment.nsw.gov.au/topics/air/understanding-air-quality-data/air-quality-index

In [269]:
# Calc -- AQI = (polutant reading / standard) * 100
# AQI is highest of the readings
#
# M5 East does not monitor
# O3 Ozone -- 0.10 ppm over 1 hr
# PM2.5 Small particle -- 25 over 24 hr

# CO -- 9ppm over 8 hours
df['AQI_CO'] = ( df['CO_ppm'] / 9 ) * 100

# NO2 -- 0.12 ppm over 1 hr
# This is approximated - published AQI is only recorded in the verified data
df['AQI_NO2'] = ( df['NO2'] / 2000 ) * 100 

# PM10 -- 50 over 24 hr
df['AQI_PM10'] = ( df['PM10_daily'] / 50 ) * 100

In [270]:
# Pick highest AQI, round it up and add as a new column
aqindex = df[['AQI_CO', 'AQI_NO2', 'AQI_PM10']].apply(max, axis=1)
df['AQI'] = aqindex

In [271]:
# Fill AQI NaN
df['AQI'] = df['AQI'].fillna(-1)

In [272]:
# Round up AQI
aqi = df['AQI']
aqi = np.ceil(aqi).astype(int)
df['AQI'] = aqi

In [273]:
# Assign M5E to a copy
df_M5E = df

## Clean Lane Cove Tunnel data

In [274]:
# Site URLs
url = "https://www.lanecovetunnel.com/"
path = "cott.csv"
url = url + path

In [275]:
# Read CSV
df = pd.read_csv(url)

In [276]:
# Add table headers
# Data in column index 4 is undocumented
df.columns = ['Date_time', 'CO_3min', 'CO_15min', 'CO_30min','Undocumented']

In [277]:
# Insert columns
df.insert(0, 'Station', 'LCTINT')
df.insert(1, 'Timestamp', '')

# Insert columns
df.insert(7, 'CO_ppm', '')
df.insert(8, 'NO2', '')
df.insert(9, 'PM10', '')
df.insert(10, 'wind_dir', '')
df.insert(11, 'wind_speed', '')
df.insert(12, 'PM10_daily', '')
df.insert(13, 'AQI_CO', '')
df.insert(14, 'AQI_NO2', '')
df.insert(15, 'AQI_PM10', '')

In [278]:
# Create timestamp
df['Timestamp'] = pd.to_datetime(df['Date_time'], format='%d/%m/%Y %H:%M')

In [279]:
# modify df. Drop unneccessary columns
df.drop('Date_time', axis=1, inplace=True)
df.drop('Undocumented', axis=1, inplace=True)

## Calculate Lane Cove AQI

In [280]:
# Calc -- AQI = (polutant reading / standard) * 100
# AQI is highest of the readings
# 
# CO level is the only publicly available value 
# Use operators maximum as the 'standard'
# CO over 3mins limit is 200

# CO -- 200ppm over 3 minutes
df['AQI_CO'] = ( df['CO_3min'] / 200 ) * 100

In [281]:
# Pick highest AQI, round it up and add as a new column
aqindex = df[['AQI_CO']].apply(max, axis=1)
df['AQI'] = aqindex
aqi = df['AQI'].astype(int)
df['AQI'] = aqi

## Combine M5 East and Lane Cove Tunnel data frames

In [282]:
## Combine M5 East and Lane Cove Tunnel data frames
df_motorways = []
df_motorways.append(df)
df_motorways.append(df_M5E)
df_m = pd.concat(df_motorways)

In [283]:
df_m.reset_index(drop=True)
#df_m

,Station,Timestamp,CO_3min,CO_15min,CO_30min,CO_ppm,NO2,PM10,wind_dir,wind_speed,PM10_daily,AQI_CO,AQI_NO2,AQI_PM10,AQI
0,LCTINT,2018-06-24 00:00:00,2,0,0,,,,,,,1.000000,,,1
1,LCTINT,2018-06-24 01:00:00,2,0,0,,,,,,,1.000000,,,1
2,LCTINT,2018-06-24 02:00:00,2,0,0,,,,,,,1.000000,,,1
3,LCTINT,2018-06-24 03:00:00,2,0,0,,,,,,,1.000000,,,1
4,LCTINT,2018-06-24 04:00:00,2,0,0,,,,,,,1.000000,,,1
5,LCTINT,2018-06-24 05:00:00,2,0,0,,,,,,,1.000000,,,1
6,LCTINT,2018-06-24 06:00:00,2,0,0,,,,,,,1.000000,,,1
7,LCTINT,2018-06-24 07:00:00,2,0,0,,,,,,,1.000000,,,1
8,LCTINT,2018-06-24 08:00:00,4,1,0,,,,,,,2.000000,,,2
9,LCTINT,2018-06-24 09:00:00,5,1,0,,,,,,,2.500000,,,2
10,LCTINT,2018-06-24 10:00:00,9,1,0,,,,,,,4.500000,,,4
11,LCTINT,2018-06-24 11:00:00,12,0,0,,,,,,,6.000000,,,6
12,LCTINT,2018-06-24 12:00:00,12,1,0,,,,,,,6.000000,,,6
13,LCTINT,2018-06-24 13:00:00,12,1,0,,,,,,,6.000000,,,6
14,LCTINT,2018-06-24 14:00:00,12,3,2,,,,,,,6.000000,,,6
15,LCTINT,2018-06-24 15:00:00,12,1,0,,,,,,,6.000000,,,6
16,LCTINT,2018-06-24 16:00:00,12,1,0,,,,,,,6.000000,,,6
17,LCTINT,2018-06-24 17:00:00,10,1,0,,,,,,,5.000000,,,5
18,LCTINT,2018-06-24 18:00:00,6,0,0,,,,,,,3.000000,,,3
19,LCTINT,2018-06-24 19:00:00,2,0,0,,,,,,,1.000000,,,1
20,LCTINT,2018-06-24 20:00:00,2,0,0,,,,,,,1.000000,,,1
21,LCTINT,2018-06-24 21:00:00,2,0,0,,,,,,,1.000000,,,1
22,LCTINT,2018-06-24 22:00:00,3,0,0,,,,,,,1.500000,,,1
23,X1,2018-06-24 00:00:00,,,,0.24,6.2,10.1,SW,11,NaN,2.666667,0.31,NaN,3
24,X1,2018-06-24 01:00:00,,,,0.2,12.3,8.8,W,7,NaN,2.222222,0.615,NaN,3
25,X1,2018-06-24 02:00:00,,,,0.16,28.8,8,WNW,12,NaN,1.777778,1.44,NaN,2
26,X1,2018-06-24 03:00:00,,,,0.15,24.6,7.1,WNW,8,NaN,1.666667,1.23,NaN,2
27,X1,2018-06-24 04:00:00,,,,0.14,30.8,5.8,NW,8,NaN,1.555556,1.54,NaN,2
28,X1,2018-06-24 05:00:00,,,,0.13,43.1,7.2,NW,7,NaN,1.444444,2.155,NaN,3
29,X1,2018-06-24 06:00:00,,,,0.14,41.1,8.1,NW,7,NaN,1.555556,2.055,NaN,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2777,CBMS,2018-06-22 18:00:00,,,,0.32,67.8,20.9,N,6,20,3.555556,3.39,40,40
2778,CBMS,2018-06-22 19:00:00,,,,0.34,67.8,20.1,NNW,5,20,3.777778,3.39,40,40
2779,CBMS,2018-06-22 20:00:00,,,,0.35,59.6,20.7,NNW,5,20,3.888889,2.98,40,40
2780,CBMS,2018-06-22 21:00:00,,,,0.4,61.6,17.4,NW,6,20,4.444444,3.08,40,40
2781,CBMS,2018-06-22 22:00:00,,,,0.43,53.4,20.6,NW,6,20,4.777778,2.67,40,40
2782,CBMS,2018-06-22 23:00:00,,,,0.48,55.5,17,WNW,5,20,5.333333,2.775,40,40
2783,CBMS,2018-06-23 00:00:00,,,,0.61,59.6,28,W,8,14,6.777778,2.98,28,29
2784,CBMS,2018-06-23 01:00:00,,,,0.66,45.2,27.9,WNW,7,14,7.333333,2.26,28,29
2785,CBMS,2018-06-23 02:00:00,,,,0.73,45.2,27.2,WNW,9,14,8.111111,2.26,28,29
2786,CBMS,2018-06-23 03:00:00,,,,0.76,43.1,28.3,W,11,14,8.444444,2.155,28,29
2787,CBMS,2018-06-23 04:00:00,,,,0.75,39,19,W,11,14,8.333333,1.95,28,29
2788,CBMS,2018-06-23 05:00:00,,,,0.73,41.1,8.1,W,11,14,8.111111,2.055,28,29
2789,CBMS,2018-06-23 06:00:00,,,,0.71,41.1,9.7,W,12,14,7.888889,2.055,28,29
2790,CBMS,2018-06-23 07:00:00,,,,0.68,43.1,16.3,WNW,12,14,7.555556,2.155,28,29
2791,CBMS,2018-06-23 08:00:00,,,,0.56,37,8.6,WNW,12,14,6.222222,1.85,28,29
2792,CBMS,2018-06-23 09:00:00,,,,0.51,24.6,14.4,W,12,14,5.666667,1.23,28,29
2793,CBMS,2018-06-23 10:00:00,,,,0.43,26.7,7.9,W,11,14,4.777778,1.335,28,29
2794,CBMS,2018-06-23 11:00:00,,,,0.39,30.8,7.2,W,9,14,4.333333,1.54,28,29
2795,CBMS,2018-06-23 12:00:00,,,,0.38,28.8,9.2,NW,8,14,4.222222,1.44,28,29
2796,CBMS,2018-06-23 13:00:00,,,,0.37,24.6,11,NW,6,14,4.111111,1.23,28,29
2797,CBMS,2018-06-23 14:00:00,,,,0.35,26.7,10.8,NNW,5,14,3.888889,1.335,28,29
2798,CBMS,2018-06-23 15:00:00,,,,0.33,24.6,8.8,NW,5,14,3.666667,1.23,28,29
2799,CBMS,2018-06-23 16:00:00,,,,0.31,41.1,6.7,NW,7,14,3.444444,2.055,28,29
2800,CBMS,2018-06-23 17:00:00,,,,0.34,71.9,5,S,5,14,3.777778,3.595,28,29
2801,CBMS,2018-06-23 18:00:00,,,,0.35,57.5,16.3,S,9,14,3.888889,2.875,28,29
2802,CBMS,2018-06-23 19:00:00,,,,0.35,32.9,18.3,S,10,14,3.888889,1.645,28,29
2803,CBMS,2018-06-23 20:00:00,,,,0.34,20.5,11.2,S,10,14,3.777778,1.025,28,29
2804,CBMS,2018-06-23 21:00:00,,,,0.35,20.5,13.2,S,11,14,3.888889,1.025,28,29
2805,CBMS,2018-06-23 22:00:00,,,,0.35,18.5,14.3,S,12,14,3.888889,0.925,28,29
2806,CBMS,2018-06-23 23:00:00,,,,0.34,14.4,5.8,SSW,14,14,3.777778,0.72,28,29

## Calculate AQI band

In [284]:
# Fill AQI NaN
df_m['AQI'] = df_m['AQI'].fillna(-1)

In [285]:
df_m.insert(15, 'AQI_level', -1)
df_m.insert(16, 'AQI_description', '-')

In [286]:
#df_m

In [287]:
for index, row in df_m.iterrows():
    aqi = row['AQI']
    if aqi > 200:
        AQI_level = 6
        AQI_description = 'Hazardous'
        #break
    elif aqi > 149:
        AQI_level = 5
        AQI_description = 'Very poor'
        #break
    elif aqi > 99:
        AQI_level = 4
        AQI_description = 'Poor'
        #break
    elif aqi > 66:
        AQI_level = 3
        AQI_description = 'Fair'
        #break
    elif aqi > 33:
        AQI_level = 2
        AQI_description = 'Good'
        #break
    elif aqi > -1:
        AQI_level = 1
        AQI_description = 'Very good'
        #break
    else:
        AQI_level = 0
        AQI_description = 'AQI unavailable'

    df_m.loc[index, 'AQI_level'] = AQI_level
    df_m.loc[index, 'AQI_description'] = AQI_description

#    print(index, aqi, AQI_description, AQI_level)

In [288]:
#df_m[580:590]

## Add sensor locations

In [289]:
# Open local file. Sensor locations added to OSM then extracted.
data_aq_sites = "./labels_air_quality_monitors.csv"
sites = pd.read_csv(data_aq_sites)

In [290]:
# Merge dataframes
df_sites = pd.merge(df_m, sites, on='Station', how='left')
df_m = df_sites

## Export data
Create a CSV file and write to it.

In [291]:
# Write to CSV
output = './AQI-SydneyMotorways.csv'
ofile = open(output, 'w')
df_m.to_csv(output)
ofile.close()